:root {
    --light-white: #FFFFFF;
    --dark-white: #EFFFFF;
    --light-black: #181818;
    --dark-black: #000000;

    --light-green: #27AE60;
    --dark-green: #27AE60;
    --light-yellow: #F1C40F;
    --dark-yellow: #F1C40F;
    --light-red: #E74C3C;
    --dark-red: #E74C3C;
}

html {
  background-color: var(--light-black);
}

header {
  text-align: center;
  font-style: normal;
  .header__title {
    font-size: 32px;
    margin-bottom: -16px;
    margin-top: 36px;
    clear: right;
  }
}

body {
  font-family: "PT Sans", "Kohinoor Bangla", sans-serif;
  max-width: 1024px;
  min-width: 375px;
  margin: 0 auto;
  float: none;
  font-size: 18px;
}

main {
  margin: 0 2rem;
}

.header__logout {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

footer {
  margin: 32px;
}

.header__logout button {
  border: 1px solid;
  padding: 1rem;
  color: var(--dark-red);
  background-color: inherit;
  font-family: monospace;
  margin-top: 1rem;
}

.status {
  min-height: 160px;
}

.message {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  border-style: solid;
  border-width: 1px;
  border-left-width: 14px;
  padding: 14px;
  white-space: pre-line;
  margin-bottom: 1rem;
}

.message.loading,
.message.warning {
  border-color: var(--dark-yellow);
}
.message.success {
  border-color: var(--dark-green);
}
.message.error {
  border-color: var(--dark-red);
}

.connections__container {
  width: 100%;
}
.connection {
  font-family: monospace;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.connection.loading {
  border-left-width: 14px;
  border-color: var(--dark-yellow);
}

.connection.active {
  border-left-width: 14px;
  border-color: var(--dark-green);
}

.login {
  font-family: monospace;
  display: flex;
  width: 100%;
  justify-content: center;
}

.login__container {
  min-width: 280px;
}

.login__form {
  display: grid;
  font-size: 14px;
  margin-top: 2rem;
}

.login__form input[type=password] {
  border: 1px solid;
  padding: 1rem;
  font-family: monospace;
  background-color: inherit;
}

.login__form button {
  border: 1px solid;
  padding: 1rem;
  color: var(--dark-green);
  background-color: inherit;
  font-family: monospace;
  margin-top: 1rem;
}

@media (prefers-color-scheme: light) {
  html {
    background-color: var(--light-white);
  }
  .message.loading,
  .message.warning {
    border-color: var(--light-yellow);
  }
  .message.success {
    border-color: var(--light-green);
  }
  .message.error {
    border-color: var(--light-red);
  }
  .connection.loading {
    border-color: var(--light-yellow);
  }

  .connection.active {
    border-color: var(--light-green);
  }

  .login__form button {
    color: var(--light-green);
  }
}

/* Handle logout on small devices */
@media (max-width: 600px) {
  .header__logout {
    position: inherit !important;
    margin: 0 2rem !important;
  }
  .header__logout button {
    width: 100% !important;
  }
}
